<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="row index_box">
    <%= simple_form_for @collection, url: collections_path, method: :post do |f| %>
    <div class="row box_row">
      <%= f.input :title, label: false, required: true, placeholder: "Tag Name", input_html: { class: "form-control" } %>
    </div>
    <div class="row box_row">
      <%= f.input :start_date, label: false, as: :string, required: true, placeholder: "Start Date", input_html: { id: "dpd1", class: "form-control" } %>
    </div>
    <div class="row box_row">
      <%= f.input :end_date, label: false, as: :string, required: true, placeholder: "End Date", input_html: { id: "dpd2", class: "form-control" } %>
    </div>
    <div class="row box_row">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
    </div>
  </div>
</div>
<%= content_for :custom_js do %>
<script type="text/javascript">
  $(function(){

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#dpd1').datepicker({format: "yyyy/mm/dd"}).on('changeDate', function(ev) {
        var newDate = new Date(ev.date)
        newDate.setDate(newDate.getDate() + 1);
        checkout.setValue(newDate);
      checkin.hide();
      $('#dpd2')[0].focus();
    }).data('datepicker');
    var checkout = $('#dpd2').datepicker({
      format: "yyyy/mm/dd",
      onRender: function(date) {
        return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      checkout.hide();
    }).data('datepicker');
  });

</script>
<% end %>