<!DOCTYPE html>
<html>
<head>
  <title>Minilee</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield :custom_js %>
</body>
</html>
